[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com:not-matthias/apollo.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
